{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}

{% block content %}

<section id="content" class="body">
    <h1>{{ page.title }}</h1>
    <ul>
    {% for (club_name, club_page_path) in page.club_pages %}
        <li><a href="{{ SITEURL }}/{{ club_page_path }}">{{ club_name }}</a></li>
    {% endfor %}
    </ul>
</section>

{% endblock %}
