{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
<section id="content" class="body">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
    <hr>
    <h2>Teams</h2>
    <ul>
        {% for (name, page_path) in page.team_pages %}
        <li><a href="{{ SITEURL }}/{{ page_path }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
