{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}

{% block content %}

<section id="content" class="body">
    <h1>{{ page.title }}</h1>
    <ul>
    {% for (name, postal_code, page_path) in page.court_pages %}
        <li><a href="{{ SITEURL }}/{{ page_path }}">{{ postal_code }}, {{ name }}</a></li>
    {% endfor %}
    </ul>
</section>

{% endblock %}
